EXPO_PUBLIC_SUPABASE_URL=https://axufdobdvktrpwhvbpdv.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF4dWZkb2Jkdmt0cnB3aHZicGR2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI2MDU0NDksImV4cCI6MjA3ODE4MTQ0OX0.QZTmbidVs-MQXqZCa4LOJnJC11f2W3Vj2K9z-L_7__I
